@charset "UTF-8";

article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
}

.myheader  h1{
	text-align:left;

	font-size:2em;
}


hr
{
border:solid 1px black;
width: 96%;
color: #FFFF00;
height: 1px;

}


.myheader  p	.myjhu{
		text-decoration:none;
		
		font-size:1.1em;
	}
	
.email,.phone{
		font-size:1.5em;
	}

.cv,.resume,.phd{
		font-size:1.4em;
	}
	
.phd{
		font-size:0.8em;
		 color: purple;

	}
.phd:hover {
    background-color: yellow;
}

.myheader {
  background-color: #53c68c;
 
  color: black;
  padding: 1% 2%;
}

#nav01{
	padding:0;
	margin:1%;
}


section {
  background-color: #ffffff;
  margin-top: 0%;
  padding: 0%;
}


main {
	
  width: 80%;
  float: left;
  margin-bottom: 1%;
  margin-left: 2%;
  text-align:center;
  font-size:2em;
  color:black;


}

aside {
  background-color:#f0f0f0;
  width: 30%;
  float: right;
  padding: 1%;
  margin-top: 2%;
  text-align:center-left
  
}

body {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color:#FFFFFF ;
  font-family: Helvetica, Arial, sans-serif;
}


.mynav{
	background-color: #F0F5F5;
	padding:0.5%;
	line-height: 250%;
}






.ds{
	
	font-size:14px;
	color:#94704D;
	text-decoration:none
}
nav li {
  display: inline;
  margin-left: 1.5%;
  margin-right: 1%;
}

nav li a {
  color: black;
   font-size: 1.2em;
  font-weight: bold;
}



footer {
  clear: both;
  background-color: #F5E0FF;
  padding: 0.5% 2%;
  text-align:center;
  padding:1%;
  font-size:0.9em;
  color:black;
  
}




@media only screen and (min-width: 480px) and (max-width: 768px) {

	nav li a {
   font-size: 0.65em;
  font-weight: bold;
	}
  
  
  main {
	
  font-size:0.6em;
 }
 
  .myheader  h1{
  font-family:1em
}
	

.myheader  h1{
	font-size:0.8em;
}


.myheader  p	{
		font-size:0.9em;
	}
	
.myheader  p	.phone{
		font-size:0.9em;
	}
	
.myheader  p	.email{
		font-size:0.9em;
	}
	
.cv,.resume{
		font-size:0.9em;
	}
	
	.email,.phone{
		font-size:0.7em;
	}
		
}


@media only screen and (max-width: 480px) {

	nav li a {
  font-size: 0.43em;
  font-weight: bold;
			}
			
			  main {
	
  font-size:0.5em;
 }
 
 .myheader  h1{
	font-size:0.75em;
}


.myheader  p	{
		font-size:0.65em;
	}

.cv,.resume{
		font-size:0.7em;
	}
	
	.email,.phone{
		font-size:0.55em;
	}
	

}





@media only screen and (min-width: 480px) and (max-width: 768px) {

	nav li a {
   font-size: 0.65em;
  font-weight: bold;
	}
  
  
  main {
	
  font-size:0.6em;
 }
 
  .myheader  h1{
  font-family:1em
}
	

.myheader  h1{
	font-size:0.8em;
}


.myheader  p	{
		font-size:0.9em;
	}
	
.myheader  p	.phone{
		font-size:0.9em;
	}
	
.myheader  p	.email{
		font-size:0.9em;
	}
	
.cv,.resume{
		font-size:0.9em;
	}
	
	.email,.phone{
		font-size:0.7em;
	}
		
}


@media only screen and (max-width: 480px) {

	nav li a {
  font-size: 0.43em;
  font-weight: bold;
			}
			
			  main {
	
  font-size:0.5em;
 }
 
 .myheader  h1{
	font-size:0.75em;
}


.myheader  p	{
		font-size:0.65em;
	}

.cv,.resume{
		font-size:0.7em;
	}
	
	.email,.phone{
		font-size:0.55em;
	}
	

}




