@charset "UTF-8";

article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
}

.myheader  h1{
	text-align:left;
	
	font-size:2em;
}


	
.phd{
		font-size:0.8em;
		 color: purple;
	}
	
hr
{
border:solid 1px black;
width: 96%;
color: #FFFF00;
height: 1px;

}



.myheader  p	.myjhu{
		text-decoration:none;
		color:#D65C33;
		font-size:1.1em;
	}
	
.email,.phone{
		font-size:1.5em;
	}

.cv,.resume{
		font-size:1.4em;
	}
	


.myheader {
  background-color: #53c68c;
 
  color: black;
  padding: 1% 2%;
}

#nav01{
	padding:0;
	margin:1%;
}

.mynav{
	background-color: #F0F5F5;
	padding:0.5%;
	line-height: 250%;
}




.dropdown {
    position: relative;
    display: inline-block;
	
	background-color: #F0F5F5;
    line-height: 250%;
	 color: black;
   font-size: 1.2em;
  font-weight: bold;
}

.dropdown-content {
	
	background-color: #F0F5F5;
    display: none;
    position: absolute;
    min-width: 100px;
   color: red;
   font-size: 1.0em;
      line-height: 250%;
	
}

.dropdown:hover .dropdown-content {
    display: block;
	 background-color: #ffffe6;
	   color: black;
   font-size: 0.8em;
   font-weight: bold;
}



body {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, Arial, sans-serif;
}




section {
  background-color: #ffffff;
  margin-top: 1%;
  padding: 0.5%;
}



main {
  width: 70%;
  float: left;
  margin-bottom: 1%;
  background-color: #f0f0f0;
  font-size:1.4em;
}

aside {
  background-color: #FFFFFF;
  width: 25%;
  float: right;
  padding: 1%;
  margin-top: 1%;
  text-align:center-left
  
}

.mynav{
	background-color: #F0F5F5;
	padding:0.5%
}

nav li {
  display: inline;
  margin-left: 1.5%;
  margin-right: 1%;
}

nav li a {
  color: black;
   font-size: 1.2em;
  font-weight: bold;
}


footer {
  clear: both;
  background-color: #F5E0FF;
  padding: 0.5% 0.5%;
  text-align:center;
  padding:0.2%;
  font-size:0.9em;
  color:black;
  
}

